body {

    background-image: url(background.png);
    background-color: #212121;
    background-size: cover;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20vh 10% 5% 10%;
}

.tiles {
    height: 20vw;
    position: relative;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color--label {
    /* text-align: center; */
    color: white;
    margin: 0;
}

footer {
    display: flex;
    padding: 0 10% 5% 10%;
    justify-content: space-between;
}

.btn {
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.85);
}

.btn__text {
    user-select: none;
}